<!doctype html>
<html lang="{{ site.Language.LanguageCode | default "sv" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {{ if .IsHome }}
      {{ site.Title }}
    {{ else }}
      {{ .Title }} | {{ site.Title }}
    {{ end }}
  </title>

  {{ with .Description }}
    <meta name="description" content="{{ . }}">
  {{ end }}

  {{ with resources.Get "css/main.css" }}
    {{ $css := . | minify | fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $css.RelPermalink }}"
      integrity="{{ $css.Data.Integrity }}">
  {{ end }}

  <link rel="canonical" href="{{ .Permalink }}">

  {{ range .AllTranslations }}
    <link
      rel="alternate"
      hreflang="{{ .Language.Lang }}"
      href="{{ .Permalink }}">
  {{ end }}

  <link
    rel="alternate"
    hreflang="x-default"
    href="{{ site.Home.Permalink }}">
    
</head>


<body>
  {{ partial "header.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  <script src="/js/menu.js"></script>
</body>
</html>